<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
		<customErrors mode="Off">
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="rule1">
					<match url="([_0-9a-z-]+)"/>
					<conditions logicalGrouping="MatchAll">
						<add matchType="IsFile" negate="true"/>
						<add matchType="IsDirectory" negate="true"/>
						<add input="{URL}" negate="true" pattern="\.axd$"/>
						<add input="{URL}" negate="true" pattern="\.svc$"/>
					</conditions>
					<action type="Rewrite" url="lnks.aspx?SCD={R:1}"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
